<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script >
        var $ = require("jquery");
    </script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Righteous|Source+Serif+Pro&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Barlow:300|Noto+Sans+TC:100&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	 <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
	 <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v4.0"></script>
 
	<title>KTHUB</title>
	<link rel ="stylesheet" href="stylesheet/main.css">

	
	
	<script src="public/jsc/style.js"></script>
</head>
 <body> 
 
    
 
  
 
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
  
 
  
   <div id="colors">
     <div class="container" >
         
        <nav class="navbar navbar-expand-lg">
         
     

          <a  class="navbar-brand" href="/posts" style="margin-right:50px"> <span style="color:white;"><i  class="fas fa-boxes fa-2x"><span><h3 style=" font-family:'Oleo Script', cursive; font-size:28px;">fuse</h3></span></i></span></a>
            
            
            
            <button  style="padding"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x "></i></span></button>

              
            
             
         <div class="collapse navbar-collapse" id="navbarSupportedContent15">
             
          <ul class="navbar-nav mr-auto" >
             <li class="nav-item active">
        
                <a class="nav-link" href="/posts"><span id="ultext"> <i  class="fas fa-home fa-lg"></i> Hem</span> </a>
             </li>
            
            <li class="nav-item active">
                  <a class="nav-link" href="/article"><span id="ultext"><i class="fas fa-newspaper fa-lg"></i> Artiklar </span></a>
            </li>
            
              <% if(currentUser && currentUser.messageQueue.length > 0){ %>
              
            <li class="nav-item active">
                 <a class="nav-link" href="/notifications/<%=currentUser._id%>"><span id="ultext"> <i class="fas fa-bell fa-lg"></i> 
                 <%if(currentUser){%>
                        <span style="color:#fa3e34; font-family:; font-size:20px;" >
                           
                           <%=currentUser.messageQueue.length%>   
                 
                 
                       </span> 
                 
                 <% }%>
                 
                 </span></a>
            </li>
            <% } %>
            
            <li class="nav-item active">
                 <a class="nav-link" href="/book" ><span id="ultext"> <i class="fas fa-book fa-lg"></i> kurslitteratur</span></a>
            </li>
         
                
     
         </ul>
            <ul class="nav navbar-nav navbar-right" class="navbar-nav mr-auto" >
                
           
                
                
                   <% if(!currentUser) { %>
                  <li><a href="/login" ><span id="ultext"> <i class="fas fa-sign-in-alt fa-lg"></i> Logga in</span></a></li>
                 
                  <li><a href="/register"><span id="ultext"> <i class="fas fa-user-plus fa-lg"></i>Skapa konto</span></a></li>
                  <% } else { %>
                  
                  <li>
                     
                          
                           <!-- Basic dropdown -->
               <button id="ultext" style="margin-top:10px;" class="btn btn-dark btn-lg  dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"> <%= currentUser.username %>'s profil</button>

                            <div class="dropdown-menu">
                                
                               <form    action="/user/posts/<%= currentUser._id %>" method="GET">
                                  
                                 <button type="submit"  style="margin-bottom:3px";  class="btn btn-dark btn-lg ">Mina inlägg </button>
                                 
                               </form>
                               
                                <form   action="/user/books/<%= currentUser._id %>" method="GET" >
                                     
                                         <button  style="margin-bottom:3px"   class="btn btn-dark btn-lg ">Mina böcker </button>
                                </form>
                                
                                
                                <form   action="/user/events/<%= currentUser._id %>" method="GET"  >
                                           
                                           
                                        <button    style="margin-bottom:3px"  class="btn btn-dark btn-lg ">Mina händelse </button>
                                    
                                       
                                </form>
                               
                                <form   action="/user/data/<%= currentUser._id %>" method="GET"  >
                                           
                                           
                                        <button    style="margin-bottom:3px"  class="btn btn-dark btn-lg ">Mitt konto</button>
                                    
                                       
                                </form>
                               
                                
                                 
                              
                         </div>
                     <!-- Basic dropdown -->
                          
                          
                          
                          
                      
                  </li>
                  <li><a href="/logout"><span id="ultext"> <i class="fas fa-sign-out-alt fa-lg"></i> Logga ut</span></a></li>
                   <% } %>
                  
            </ul>            
   
        
      </div>
     

    </nav>
    <div class="container">
        
        <% if(error && error.length > 0){ %>
           <div class="alert alert-primary" role="alert"> 
             <h3>
               <%=error%>   
             </h3>
            </div>
              <% } %>
              
        <% if (success && success.length > 0){ %> 
            <div class="alert alert-success" role="alert"> 
              <h3>
                <%=success%>   
              </h3>
         
            </div> 
         <% } %>
    </div>
  
 </div>  
   
</div>

