<% include ./partials/header%>
   
   <div class="container">
       <div class="row">
           <div class="col-md-7 col-sm-7 col-xs-7 ">
                  
                 
             <form action="/search/post" method="POST" style="margin-left:20px;" class="form-inline my-2 my-lg-0">
                 <input  name="searchString"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-primary my-2 my-sm-0" type="submit">Sök ämne</button>
            </form>    
                
              <div class="textboxPos" style="margin-top:5px;">
                 <div class="form-group shadow-textarea">
                    <span id="ultext">
                       <form action="/posts" method="POST"> 
                          <textarea style="margin-bottom:3px;" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" name="post[body]"  placeholder="Ställ en fråga..."></textarea>
                            
                          <button type="submit" class="btn  btn-outline-primary  btn-lg btn-block" > <i class="fab fa-usps fa-lg">Skicka</i></button> 
            
                   </span> 
                        </form>
                    </span>
                  </div>
                </div> 
                 <%posts.reverse().forEach(function(post) {%> 
                
                  
         <div  id="BoarderOnTextDiv">
           <i id="authorIconstyle" class="fas fa-user-circle fa-2x" style="margin-left:15px;"></i> <span id="CommentAuthorTextStyle"  >  <%=post.author.username%> </span> 
           
          <p id="PostTextStyle">
              
              <%=post.body %>
     
     
                
               <div class="container">
               
                 
                
                
                
                <button class="btn btn-primary"  data-toggle="collapse" data-target="#collapseExample" ><i class="far fa-comment fa-lg"> <%=post.comments.length %></i></button>
                   
                    <% if( currentUser && post.author.id.equals(currentUser._id)){ %>    
                         <form action="/posts/<%= post._id %>/edit" method="GET">
                       
                           <button class="btn btn-warning" style="margin-top:4px;"><i class="fas fa-edit fa-lg"></i></button>
                       
                         </form>
                   
                   
                        <form action="/posts/<%= post._id %>/?_method=Delete" method="POST" >
                       
                           <button class="btn btn-danger" style="margin-top:4px;"><i class="fas fa-trash-alt"></i></button>
                       
                        </form>
                    <% } %>
                    
                 <div class="collapse" id="collapseExample">
                 <%post.comments.reverse().forEach(function(comment) {%> 
                 
                 <p>
                   
                   <i id="authorIconstyle" class="fas fa-user-circle fa-2x"></i> <span id="CommentAuthorTextStyle" >   <%=comment.author.username%> </span>  
                   </p>
                 <div  class ="commentBox">
                  <p >
                 <span id="CommentTextStyle">   <%=comment.text%> </span>
                 </p>
                   <% if( currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <form action="/comments/<%=comment._id %>/?_method=Delete" method="post">
                 
                      <button type="submit"  class="btn btn-danger"><i class="fas fa-trash-alt fa-lg"></i></button>
                 
                   </form>
                   <% } %>
                 </div>
                   
               
                   <% })%>
                    </div>
                 </div>
            </p>
            
          
            <div class="form-group">
             <div class="container">
            <div class="collapse" id="collapseExample">      
             <form action="/posts/<%= post._id %>/comments" method="POST"  action="/posts/<%=post._id %>/comments/new" method="GET">
                 <div class="textboxPos" >
                   <div class="form-group shadow-textarea">
                       <span id="ultext">
           
                           <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="5" name ="comment[text]"  placeholder="Comment"></textarea>
                             <button type="submit"  class="btn btn-primary">Submit</button>
             
                         </span>
                     </div>
                   </div>
          
          
                 
                 
             </form>
             
            
             
             </div>
            </div>
              </div>
         </div>
      <% })%>
      
       
           </div>
   
       
              
           <div class="col-md-5 col-sm-5 col-xs-5">
               
                <button class="btn "  data-toggle="collapse" data-target="#collapseExample1" >
                    
                     <p id="event" style="margin-left:25px">Skapa och dela din händelse  
                      
                          <i class="fas fa-calendar-plus"></i>
                     </p>
                    
                </button>
                    
                    <div class="collapse" id="collapseExample1">
                     
                            
                       <div style="width: 100%; margin: 30px auto; "  id="ultext">
           
                          <div style="width:60%" >
                              <form action="/events" method="post">
                                 
                                  <div class="form-group">
                                     <input class  ="form-control" type="text" name ="event[title]"  placeholder="Titel">
                                  </div>
            
                                      <div class="form-group">
                                         <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name ="event[description]"  placeholder="Beskrivning"></textarea>
            
                                    </div>
            
                                    <div class="form-group">
                                        <input class  ="form-control" type="text" name ="event[date]"  placeholder="Datum">
                                     </div>
            
                                    <div class="form-group">
                                        <input class  ="form-control" type="text" name ="event[imageUrl]"  placeholder="Bildadress">
                                          <a href="https://support.google.com/websearch/answer/118238?co=GENIE.Platform%3DDesktop&hl=sv"> Undrar du vad bildadress är?</a>
                                     </div>
         
          
                                   <button type="submit" class ="btn btn-lg btn-primary btn-block">skapa</button>

                            </form>
                        </div>  
                    </div>
                   
                  
                 </div>
                
                
                  <%  events.reverse().forEach(function(event){ %>
                    <span>
                    
                      <div  style="border:5px solid #0275d8;"  class="card "  style="width:30rem;  margin-bottom:5px ">
                          
                        <div class="thumbnail">
                            
                             <img src=<%= event.imageUrl %>class="card-img-top" alt="...">
                        </div>
                          <div class="card-body" >
                             <h5 class="card-title"> <%= event.title %> </h5>
                             <p class="card-text"><%= event.description %></p>
                             <p class="card-text"><%= event.date%></p>
                              <% if( currentUser && event.author.id.equals(currentUser._id)){ %>    
                             <form action="/event/<%=event._id%>/edit" method="GET">
                       
                                 <button class="btn btn-warning" style="margin-top:4px;"><i class="fas fa-edit fa-lg"></i></button>
                       
                             </form>
                              <form action="/event/<%= event._id %>/?_method=Delete" method="POST">
                       
                                 <button class="btn btn-danger" style="margin-top:4px;"><i class="fas fa-trash-alt fa-lg"></i></button>
                       
                             </form>
                             <% } %>
                    </div>
                    
            
                 </div> 
                 </span>
               <% }) %>
               
           </div>
       </div>
       
   </div>
  


<% include ./partials/footer%>